body, html {width: 100%;
            height: 100%;
            font-weight: 700;
            color: #fff;
            background-color: #999;
            overflow: hidden
            }






h1 {position: absolute;
    width: 2.6em;
    left: 15%;
    top: 0%;
    font-size: 10em;
    text-align: center;
    margin-left: 1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, -2px 0 #ff6, -2px 0 #ff6, -2px 0 #ff6;
    opacity: 0;
    z-index: 1;
    animation: logo 10s ease-out 2.5s;
    }
    h1 sub{display: block;
           font-size: 0.3em;
           letter-spacing: 0;
           line-height: 0.0em;
           }
           @keyframes logo{0% {transform: scale(1); opacity: 1;}
                           50% {opacity: 1;}
                           100% {transform: scale(0.1); opacity: 0;}
                           }
p#start{position: relative;
        width: 16em;
        font-size: 200%;
        font-weight: 400;
        margin: 20% auto;
        color: 4ee;
        opacity: 0;
        z-index: 1;
        animation: intro 2s ease-out;
        }
        @keyframes intro{0% {opacity: 1;}
                         90% {opacity: 1;}
                         100% {opacity: 1;}
                         }


#titles {
    position: absolute;
    width: 26em;
    height: 50em;
    bottom: 50%;
    left: 50%;
    font-size: 350%;
    text-align: justify;
    overflow: hidden
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(10deg);
    }
#titles:after{position: absolute;
              content: '   ';
              left: 0;
              right: 0;
              top: 0;
              bottom: 60%;
              background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent;
              pointer-events: none;
              }
#titles p{text-align: justify;
          margin:0.8em 0;
          }
#titles p.center{text-align:center}
#titles a{color: #ff6;
          text-decoration
          }



#titlecontent{position: absolute;
              top: 100%;
              animation: scroll 10s linear 4s infinite;
              }
@keyframes scroll{0%{top: 100%;}
                  100%{top: -170%;}
                  }